
// ====temas
// background claro
:root {
  // backgroung
  --body-principal-color-bg: #fafafa;
  --body-secundary-color-bg: #fff;
  --body-selected-color-bg: #f3f3f4;
  --body-active-color-bg: #fefefe;
  --body-theme-color-bg: #2861f4;

  // components
  --border-principal-color: #e2e2e2;
  --border-buttom-color: #3da58a;

  // font
  --title-principal-color-font: #393939;
  --title-secundary-color-font: #262626;
  --subtitle-principal-color-font: #979797;
  --subtitle-secundary-color-font: #b3b3b3;
  --subtitle-special-color-font: #6b6b6b;
  --paragraph-color-font: #979797;
  --link-buttom-color-font: #49494b;
  --active-color-font: #2b2b2b;
  --error-color-font: #f00;
  --agnst-colot-font: #000;
}

// background escuro
:root .darkMode {
  // backgroung
  --body-principal-color-bg: #1f1f21;
  --body-secundary-color-bg: #28282a;
  --body-selected-color-bg: #363638;
  --body-active-color-bg: #363836;
  --body-theme-color-bg: #2861f4;
  //#e3e9f7

  // components
  --border-principal-color: #303032;
  --border-buttom-color: #3da58a;

  // font
  --title-principal-color-font: #f2f2f2;
  --title-secundary-color-font: #dedede;
  --subtitle-principal-color-font: #8b8b8d;
  --subtitle-secundary-color-font: #979797;
  --subtitle-special-color-font: #6b6b6b;
  --paragraph-color-font: #979797;
  --link-buttom-color-font: #a4a4a5;
  --active-color-font: #c9c9ca;
  --error-color-font: #f00;
  --agnst-colot-font: #fff;
}
