.container-navbar {
  display: flex;
  width: 70vw;
  margin: 0 0 3rem 16rem;
  margin-right: 1rem;

  padding: 1.5rem 0;
  background: var(--bg-body-principal-color);

  justify-content: space-between;
  align-items: center;
}
.navbar-search {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: var(--body-selected-color-bg);

  margin-left: 4rem;
  border-radius: 0.3rem;
}
.navbar-search button {
  background: var(--body-selected-color-bg);

  padding-right: 10px;
}
.navbar-settings button {
  background: transparent;
  padding: 0 1rem;
}

.navbar-search > input {
  flex: 1;
  margin-left: 0.13rem;

  border: none;
  background: var(--body-selected-color-bg);
}

.svg-menu {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  z-index: 9999;
}
