#navbar {
  display: flex;
  // width: calc(100% - 4rem);
  padding: 1.25rem 1.875rem; //20px e 30px
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 3;

  #logo {
    display: flex;
    font-size: 1.5rem; //24px
    font-weight: bold;
    color: #333;

    align-items: center;
    gap: 1.25rem; //20px

    .svg-menu {
      cursor: pointer;
      z-index: 9999;
      background: red;
    }
  }

  #menu {
    display: flex;
    gap: 1.25rem; //20px
    a {
      text-decoration: none;
      color: #333;
      font-size: 1.38rem;
      &:hover {
        color: dodgerblue;
      }
    }
  }
}
