<div class="container-navbar">

  <div class="navbar-search">
    <input type="text" name="seach" id="seach" placeholder="search">
    <button><i class="material-icons">search</i></button>
  </div>

    <div class="navbar-settins">
      <button>

        <i class="material-symbols-outlined" (click)="toggleSidebar">light_mode</i>
      </button>
      <button>
        <i class="material-symbols-outlined">notifications</i>
      </button>
      <button>
        <i class="material-symbols-outlined">settings</i>
      </button>
      <button >
      <!-- (click)="user()" -->

        <i class="material-icons">person</i>
      </button>
      <button><i class="fa-regular fa-bell"></i></button>
    <button

    > <!-- (click)="selectMenuNav(1)" --><i class="material-symbols-outlined">logout </i></button>
  </div>
</div>


