.container-navbar {
  display: flex;
  width: 70vw;
  margin: 0 0 3rem 16rem;
  margin-right: 1rem;

  padding: 1.5rem 0;
  background: var(--bg-body-color);
  background-color: red;
  justify-content: space-between;
  align-items: center;
}
.navbar-search {
  display: flex;
  align-items: center;
  background: var(--bg-body-secundary-color);

  margin-left: 4rem;
  border-radius: 0.3rem;
}
.navbar-search button {
  background: var(----text-color-principal);
  padding-right: 10px;
}
.navbar-settins button {
  background: transparent;
  padding: 0 1rem;
}

.navbar-search > input {
  flex: 1;
  margin-left: 0.13rem;
  background: var(--bg-color);
  border: none;
}

.svg-menu {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  z-index: 9999;
}
