<div class="container-navbar">

  <div class="navbar-search">
    <input type="text" name="seach" id="seach" placeholder="search">
    <img class="svg-menu" src="../../../assets/icons/search.svg" alt="icon theme toggle">
  </div>

    <div class="navbar-settins">
      <button (click)="toggleNavTheme()">
        <img class="svg-menu" src="../../../assets/icons/{{icon}}.svg" alt="icon theme toggle">
      </button>

      <button>
        <img class="svg-menu" src="../../../assets/icons/notifications.svg" alt="icon theme toggle">

      </button>
      <button>
       <img class="svg-menu" src="../../../assets/icons/settings.svg" alt="icon theme settings">
      </button>
      <button >
      <!-- (click)="user()" -->
      <img class="svg-menu" src="../../../assets/icons/user-manager.svg" alt="icon theme user">
      </button>
    <button> <!-- (click)="selectMenuNav(1)" -->
      <img class="svg-menu" src="../../../assets/icons/logout.svg" alt="icon theme logout">
    </button>
  </div>
</div>


