<sidebar></sidebar>
<div class="nav">
  <navbar></navbar>
</div>
<div class="container">

  <!-- Conteúdo para a tabela de listagem de sistemas  -->
  <div class="content page" *ngIf="screenType == 1">
    <div class="header">
      <div class="title-content">
        <div class="title">
          <h2>Listagem Sistema para despesas</h2>
          <h5>Gerenciamento de sistemas para despesas, adicione edite e remova.</h5>
        </div>
      </div>
    </div>

    <div class="menu">
      <div class="bread-crumbs">
        <div class="svg-home-ico" (click)="goToHomePage()">
        </div>
        <h5 (click)="register()">Adicionar sistema</h5>
      </div>
    </div>
    <div class="page-content">
      <!-- Tabela  -->
      <table cellSpacing="0" cellPadding="0">
        <thead>
          <tr>
            <td>Código</td>
            <td>Nome</td>
            <td>Ação</td>
          </tr>
        </thead>
        <tbody>
          <tr class="select-item" *ngFor="let item of systemExpenseListTable | paginate: config; let i = index" class="table-line" [ngClass]="{'grey=line': i % 2 === 0, 'white-line': i % 2 !== 0}">
            <td>{{item.Id}}</td>
            <td>{{item.Name}}</td>
            <td class="action"><a (click)="register()">Adicionar</a> | <a>Editar</a> | <a>Remover</a> </td>
          </tr>
        </tbody>
      </table>

      <!-- Paginação  -->
      <div class="table-footer" *ngIf="pagination && systemExpenseListTable">
        <label for="" class="show-Items">Mostrar</label>
        <ng-select class="show-drop-table" [(ngModel)]="itemPerPages" [clearable]="false" [searchable]="false">
          <ng-option [value]="5">5</ng-option>
          <ng-option [value]="10">10</ng-option>
          <ng-option [value]="50">50</ng-option>
          <ng-option value="100">100</ng-option>
        </ng-select>

        <div class="paginstion-container">
          <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo" [responsive]="true" (pageChange)="pageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <!-- conteúdo para o cadastro de sistema -->
  <div class="content page" *ngIf="screenType == 2">
    <div class="header">
      <div class="title-content">
        <div class="title">
          <h2> Cadastro de Sistema para despesas</h2>
          <h5>Geneciamnto de sistemas para despesas, adicione edite e remova.</h5>
        </div>
      </div>
      <div class="menu">
        <div class="bread-crumbs">
          <div class="svg-home-ico" (click)="goToHomePage()">
          </div>
          <h5 (click)="systemExpenseUserList()"> ir para a Lista de sistemas</h5>
        </div>
      </div>
    </div>
    <div class="form-container">
      <div class="form-page">
        <form class="form-container" [formGroup]="systemForm" (submit)="sendData()">
          <div class="form-content">
            <div class="row">
              <div class="group-row">
                <label for="name" id="name">Sistema</label>
                <input name="name" id="name" placeholder="Digite um nome para o sistema" formControlName="name" required />
                <label class="error-input" *ngIf="systemForm.get('name')?.errors?.['required'] &&
                  systemForm.get('name')?.touched">Campo Obrigatório!</label>
              </div>

            </div>
            <div class="row">
              <div class="group-row">
                <button class="btn-form">Salvar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Conteúdo para a edição de sistemas  -->
  <div class="content page" *ngIf="screenType == 3">
    <div class="header">
      <div class="title-content">
        <div class="title">
          <h2>Edição de Sistema para despesas</h2>
          <h5>Geneciamnto de sistemas para despesas, adicione edite e remova.</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Conteúdo para a remover de sistemas  -->
  <div class="content page" *ngIf="screenType == 4">
    <div class="header">
      <div class="title-content">
        <div class="title">
          <h2>Geletar Sistema para despesas</h2>
          <h5>Geneciamnto de sistemas para despesas, adicione edite e remova.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
