// Configurações gerais da página
.container-login-main {
  display: grid;
  height: 100vh;
}

.container-login-content {
  border: 0.09px solid var(--border-principal-color);
  grid-template-columns: 1fr 1fr;
  margin: 2rem 4rem 2rem 4rem;

  border-radius: 0.2rem;
}
.container-login-content .title {
  text-align: center;
  color: var(--title-principal-color-font);
  margin: 1rem 0 1rem 1.5rem;

  font-size: 1.8rem;
  font-weight: 700;
}

// Configurações do container do formulário
.login-container-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  background: var(--body-secundary-color-bg);
  height: 100%;
  border-radius: .2rem;
}
.theme-toggle {
  display: flex;
  justify-content: flex-end;
}
.login-content-info {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--body-principal-color-bg);
  border-radius: 0.5rem 0 0 0.5rem;
}
.login-content-info .subtitle {
  color: var(--subtitle-principal-color-font);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.login-content-info .subtitle::after {
  display: block;
  content: "";
  width: 90%;
  height: 0.031rem;
  background-color: var(--border-principal-color);
  margin: 0 0 0.62rem 1rem;
}
//Configurações do conteúdo de informações laterap
.login-info.text {
  display: block;
  width: 300px;
  margin: 1rem auto;
  text-align: center;
}
.login-info.text p {
  color: var(--paragraph-color-font);
  font-size: 1rem;
  line-height: 1.5;
}
//Configurações do coteúdo para o formulário
.login-content-form {
  width: 90%;

  margin: 3rem 0 2rem -1rem;
  border-left: 0.2rem solid var(--bordwr-principal-color);
}

.login-form-fields-context label {
  font-size: 1.5rem;
  display: block;
  padding: 0 0 0.31rem 2rem;
  color: var(--subtitle-secundary-color-font);
}
.login-form-fields-context input {
  width: 90%;
  padding: 1rem;
  margin: 0 0 2rem 2rem;
  border: none;
  border-radius: 0.25rem;
  border-bottom: 2px solid var(--border-buttom-color);
  background: var(--body-active-color-bg);
}

.login-form-fields-context .input-error {
  visibility: visible;
  margin-top: -1.6rem;
  font-size: 1rem;
  color: var(--error-color-font);
}

.login-form-button {
  display: inline-flexbox;
  float: inline-end;
}

.btn.sigining {
  background: var(--body-theme-color-bg);
  color: var(--active-color-font);
  margin: 3rem 0 1rem 1rem;
}

.btn.login {
  background: var(--body-theme-color-bg);
  color: var(--active-color-font);
  margin: 3rem 0 0.5rem 0;
}

// Configurnado o modo responsivo
@media (max-width: 1150px) {
  .container-login-content .title {
    font-size: 2.5rem;
  }
  .container-content-info .subtitle {
    font-size: 1.8rem;
  }
  .login-form-fields-context label {
    font-size: 1.3rem;
  }
}

@media (max-width: 800px) {
  .container-login-content {
    margin: 1rem;
  }
  .container-login-content .title {
    font-size: 2rem;
  }
  .container-content-info .subtitle {
    font-size: 1.5rem;
  }
  .login-form-fields-context label {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .login-container-form {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .container-login-content {
    height: 28rem;
  }
  .container-content-info .subtitle {
    margin: 0 auto;
  }
  .login-info.text {
    display: none;
    margin: 0 auto;
  }
  .login-content-form {
    border: none;
  }

  .login-form-button {
    display: flex;
    justify-content: center;
  }
}
