
<div class="container-login-main ">
  <div class="container-login-content">

    <div class="login-container-form">

      <div class="login-content-info">

        <div class="container-header">
          <div class="svg-ico-pc"></div>
          <div class="container-info">
            <h1 class="subtitle">Entre em nosso sistema</h1>
          </div>
          <div class="login-info text">
            <p>
              Digite seu email e senha para logar!
            </p>
            <p>
              Administre a sua situação financeira e
              tenha tempoa para as coisas
              cordene sua independeciafinaceira!
            </p>
          </div>
        </div>
      </div>
      <div class="login-content-form">
        <div class="theme-toggle">
          <button (click)="toggleTheme()" style="background-color: transparent;">
            <img class="svg-theme" src="../../../../assets/icons/{{icon}}.svg" alt="icon  theme" />
          </button>
        </div>
        <form class="login-form-container-fields" [formGroup]="loginForm" (submit)="userLogin()">


          <h1 class="login-content title">Controle de gastos financeiro </h1>

          <div class="login-form-fields-context">
            <label for="email" name="email" id="email">Email</label>
            <input class="teste" type="email" name="email" id="email" placeholder="Ex: exemplo@email.com" formControlName="email" required="">
            <label *ngIf="loginForm.get('email')?.errors?.['required']&& loginForm.get('email')?.touched" class="input-error">Campo obrigatório!</label>
          </div>
          <div class="login-form-fields-context">
            <label for="password" name="password" id="passord">Senha</label>
            <input type="password" name="password" id="password" formControlName="password" required="" (focus)="onFocus()" (blur)="onBlur()" [class.no-outline]="inputFocused">

            <label *ngIf="loginForm.get('password')?.errors?.['required']&& loginForm.get('password')?.touched" class="input-error">Campo obrigatório!</label>
          </div>

          <div class="login-form-button">
            <button class="btn sigining">Cadatre-se</button>
          </div>
          <div class="login-form-button">
            <button class="btn login" [ngClass]="{'disabled':!loginForm.valid}" [disabled]="!loginForm.valid">Logar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
