<sidebar />
<div class="nav">
  <navbar></navbar>
</div>
<div class="container">
  <div class="content">
    <div class="header">
      <div class="title-content">
        <div class="title">
          <h2>Categoria</h2>
          <p>Adicione, edit sua categoria.</p>

        </div>
      </div>
    </div>
    <div class="form-container">
      <form class="form-page" [formGroup]="systemForm" (submit)="sendData()">
        <div class="form-content">
          <div class="row">
            <div class="group-row">
              <label for="name" id="name">Categoria</label>
              <input name="name" id="name" placeholder="Nome" formControlName="name" required />
              <label class="error-input" *ngIf="systemForm.get('name')?.errors?.['required'] &&
                  systemForm.get('name')?.touched">Campo Obrigatório!</label>
            </div>
          </div>
          <div class="row">
            <div class="group-row">
              <label for="" id="" name="">Sistema</label>
              <ng-select class="row-select-patter" [(ngModel)]="systemSelected" [items]="systemList" bindLabel="name" [multiple]="false" [clearable]="false" [searchable]="false" formControlName="systemSelect"></ng-select>
            </div>
          </div>
          <button class="btn">Salvar</button>
        </div>
      </form>
    </div>
  </div>

</div>
