<sidebar />
<div class="nav">
  <navbar />
</div>
<div class="container">
  <!-- Tela de listagem de categorias  -->
  <div class="content" *ngIf="screenType === 1">
    <div class="header">
      <div class="title-content">
        <div class="title">
          <h2>Listagem Categorias para despesas</h2>
          <h5>Gerenciamento das Categorias para despesas, adicione edite e remova.</h5>
        </div>
      </div>
    </div>

    <div class="menu">
      <div class="bread-crumbs">
        <div class="svg-home-ico" (click)="goToHomePage()">
        </div>
        <h5 (click)="register()">Adicionar Categoria</h5>
      </div>
    </div>
    <div class="page-content">
      <!-- Tabela  -->
      <table cellSpacing="0" cellPadding="0">
        <thead>
          <tr>
            <td>Código</td>
            <td>Nome</td>
            <td>Ação</td>
          </tr>
        </thead>
        <tbody>
          <tr class="select-item" *ngFor="let item of categoryExpenseTableList | paginate: config; let i = index" class="table-line" [ngClass]="{'grey=line': i % 2 === 0, 'white-line': i % 2 !== 0}">
            <td>{{item.Id}}</td>
            <td>{{item.Name}}</td>
            <td class="action"><a (click)="register()">Adicionar</a> | <a>Editar</a> | <a>Remover</a> </td>
          </tr>
        </tbody>
      </table>

      <!-- Paginação  -->
      <div class="table-footer" *ngIf="pagination && categoryExpenseTableList">
        <label for="" class="show-Items">Mostrar</label>
        <ng-select class="show-drop-table" [(ngModel)]="itemPerPages" [clearable]="false" [searchable]="false">
          <ng-option [value]="5">5</ng-option>
          <ng-option [value]="10">10</ng-option>
          <ng-option [value]="50">50</ng-option>
          <ng-option value="100">100</ng-option>
        </ng-select>

        <div class="paginstion-container">
          <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo" [responsive]="true" (pageChange)="pageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <!-- Tela de cadasdtro de categorias  -->
  <div class="content" *ngIf="screenType === 2">
    <div class="header">
      <div class="title-content">
        <div class="title">
          <h2>Categoria para Despesas</h2>
          <p>Adicione, edit sua categoria.</p>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="bread-crumbs">
        <div class="svg-home-ico" (click)="goToHomePage()">
        </div>
        <h5 (click)="categoryExpenseUserList()"> ir para a Lista de sistemas</h5>
      </div>
    </div>
    <div class="form-container">
      <form class="form-page" [formGroup]="categoryExpenseForm" (submit)="sendExpenseData()">
        <div class="form-content">
          <div class="row">
            <div class="group-row">
              <label for="name" id="name">Categoria para despesas</label>
              <input name="name" id="name" placeholder="Nome" formControlName="name" required />
              <label class="error-input" *ngIf="categoryExpenseForm.get('name')?.errors?.['required'] && categoryExpenseForm.get('name')?.touched">Campo Obrigatório!</label>
            </div>
          </div>
          <div class="row">
            <div class="group-row">
              <label for="" id="" name="">Escolha um sistema despesa </label>
              <ng-select class="row-select-patter" [(ngModel)]="systemExpenseSelected" [items]="systemList" bindLabel="name" [multiple]="false" [clearable]="false" [searchable]="false" formControlName="systemExpenseSelected"></ng-select>
            </div>
          </div>
          <div class="row">
            <div class="group-row">
              <button class="btn-form">Salvar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="content" *ngIf="screenType ===3"></div>

  <div class="content" *ngIf="screenType ===4"></div>
</div>
