<div class="app">
  <sidebar></sidebar>
  <div class="content">
    <navbar></navbar>
    <div class="container">

      <div class="title-container">
        <div class="title">
          <h2>Sistema</h2>
          <h5>Adicione, liste ou edite os sistema</h5>
        </div>
      </div>
      <div *ngIf="window == 2" class="container-base">
        Tela 1;
        <!-- <div class="content-page">
          <div class="header-info-2">
            <div class="card-header">
              <div class="bread-crumb">
                <div>
                  <i class="material-icons" (click)="goToHome()">home</i>
                </div>
                <span (click)="SystemExpenseUserList()" class="card-menu"> Lista de sistemas </span>
              </div>
            </div>
          </div>

          <form class="form-page" [formGroup]="systemForm" (submit)="sendData()">

            <div class="row group-input">
              <div class="group-row">
                <label>Sistema</label>
                <input type="text" name="name" id="name" placeholder="Nome" formControlName="name" required />
                <label class="error-input" *ngIf="systemForm.get('name')?.errors?.['required'] &&
                    systemForm.get('name')?.touched">
                  Campo Obrigatório!
                </label>
              </div>
            </div>

            <div class="row">
              <div class="group-row">
                <label>Mes Sistema</label>
                <input type="number" name="Mes" id="mes" placeholder="Mes" formControlName="mes" required />
                <label class="error-input" *ngIf="systemForm.get('mes')?.errors?.['required'] &&
                    systemForm.get('mes')?.touched">
                  Campo Obrigatório!
                </label>
              </div>
            </div>

            <div class="row">
              <div class="group-row">
                <label>Ano Sistema</label>
                <input type="number" name="ano" id="ano" placeholder="Ano" formControlName="ano" required />
                <label class="error-input" *ngIf="systemForm.get('ano')?.errors?.['required'] &&
                    systemForm.get('ano')?.touched">
                  Campo Obrigatório!
                </label>
              </div>
            </div>


            <div class="row">
              <div class="group-row">
                <label>Mes Copia</label>
                <input type="number" name="mesCopia" id="mesCopia" placeholder="mesCopia" formControlName="mesCopia" required />
                <label class="error-input" *ngIf="systemForm.get('mesCopia')?.errors?.['required'] &&
                    systemForm.get('mesCopia')?.touched">
                  Campo Obrigatório!
                </label>
              </div>
            </div>

            <div class="row">
              <div class="group-row">
                <label>Ano Copia</label>
                <input type="number" name="anoCopia" id="anoCopia" placeholder="Ano Copia" formControlName="anoCopia" required />
                <label class="error-input" *ngIf="systemForm.get('anoCopia')?.errors?.['required'] &&
                    systemForm.get('anoCopia')?.touched">
                  Campo Obrigatório!
                </label>
              </div>
            </div>
            <div class="row">
              <div class="group-row">
                <label>Dia Inicio Mes</label>
                <input type="number" name="diaFechamento" id="diaFechamento" placeholder="DiaFechamento" formControlName="diaFechamento" required />
                <label>Sistema só trabalha com dia 1</label>
                <label class="error-input" *ngIf="systemForm.get('diaFechamento')?.errors?.['required'] &&
                    systemForm.get('diaFechamento')?.touched">
                  Campo Obrigatório!
                </label>
              </div>

            </div>
            <div class="group-row">
              <div class="row check">
                <mat-slide-toggle class="group-slide" [color]="gerarCopiaDespesa" [checked]="checked" [disabled]="disabled" (change)="handleChangePago($event)">
                  Gerar Copia das Despesas?
                </mat-slide-toggle>
              </div>
            </div>



            <div class="group-input">
              <div class="row">
                <div class="group-row">
                  <button class="btn-primary">
                    Salvar
                  </button>
                </div>
              </div>
            </div>




          </form>
          <div class="container-list-user" *ngIf="tipoTela ==2 && this.itemEdicao && this.itemEdicao.Id > 0 && tableListUsuariosistema">

            <div class="form-page">
              <div class="content-page">

                <div class="header-info-2">

                  <div class="bread-crumb">
                    <div>
                      <i class="material-icons" (click)="home()">home</i>
                    </div>
                    <div>
                      <span (click)="cadastro()"> Cadastro de Sistemas usuarios teste </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="group-row">
                    <label>Informe o E-mail para add usuário no sistema</label>
                    <input type="text" name="email" id="email" [(ngModel)="emailUsuarioSistema" placeholder="E-mail" />
                    <label class="error-input" *ngIf="!emailUsuarioSistemaValid">
                      {{textValid}}
                    </label>
                  </div>
                </div>

                <div class="row">

                  <div class="group-row">
                    <input type="submit" value="Add" class="btn-primary" (click)="addUsuarioSistema()" />
                  </div>

                </div>

                <table cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <!-- <td></td>
                      <td>Código</td>
                      <td>Nome</td>
                      <td>Ação</td>

                    </tr>
                  </thead>
                  <tbody>
                    <tr class="select-item" *ngFor="let item of tableListUsuariosistema | paginate: config2; let i = index" class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">

                      <td>{{item.Id}}</td>
                      <td>{{item.EmailUsuario}}</td>

                      <td (click)="excluir(item.Id)"> Excluir</td>

                    </tr>
                  </tbody>
                </table>

                <div class="tabela-footer" *ngIf="paginacao2 && tableListUsuariosistema">
                  <label class="mostrar">Mostrar</label>
                  <ng-select (change)="mudarItemsPorPage2()" [(ngModel)="itemsPorPagina2" [clearable]="false" [searchable]="false" class="mostrar-drop">
                    <ng-option [value]="10">10</ng-option>
                    <ng-option [value]="50">50</ng-option>
                    <ng-option [value]="100">100</ng-option>
                  </ng-select>

                  <div class="container-pagination">
                    <pagination-controls id="{{this.id2}}" previousLabel="Anterior" nextLabel="Próximo" [responsive]="true" (pageChange)="mudarPage2($event)">
                    </pagination-controls>
                  </div>
                </div>


              </div>


            </div>

          </div>
        </div> -->

      </div>

      <div *ngIf="window == 1" class="container-base">
        <!-- <div class="title-container">
          <div class="title">
            <h2>Lista de sistemas</h2>
            <h5>Sistemas cadastrados</h5>
          </div>
        </div> -->

        <!-- <div class="content-page">

          <div class="header-info-2">
            <div class="card-header">
              <div class="card-menu">
                <div class="bread-crumb">
                  <i class="material-icons" (click)="goToHome()">home</i>
                  <span (click)="register()"> Cadastro de Sistemas </span>
                </div>
              </div>
            </div>
            <table cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <!-- <td></td>
                  <td>Código</td>
                  <td>Nome</td>
                  <td>Ação</td>

                </tr>
              </thead>
              <tbody>
                <tr class="select-item" *ngFor="let item of tableListSystemExpense | paginate: config; let i = index" class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">

                  <td>{{item.Id}}</td>
                  <td>{{item.Name}}</td>

                  <td (click)="editExpense(item.Id)"> Edit</td>

                </tr>
              </tbody>
            </table>

            <div class="tabela-footer" *ngIf="paginations && tableListSystemExpense">
              <label class="mostrar">Mostrar</label>
              <ng-select (change)="changeItemsPerPage()" [(ngModel)]="itemsPerPages" [clearable]="false" [searchable]="false" class="mostrar-drop">
                <ng-option [value]="10">10</ng-option>
                <ng-option [value]="50">50</ng-option>
                <ng-option [value]="100">100</ng-option>
              </ng-select>

              <div class="container-pagination">
                <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo" [responsive]="true" (pageChange)="mudarPage($event)">
                </pagination-controls>
              </div>
            </div>

          </div>

        </div> -->

      </div>
    </div>
  </div>
</div>
