<nav id="sidebar" [ngClass]="{'open-sidebar': isSidebarOpen}">
  <div id="sidebar_content">
    <!-- Aqui fica os dados do usuário -->
    <div id="user">
      <img src="../../../assets/photos/profile.jpg" id="user_avatar" alt="Avatar">

      <p id="user_info">
        <span class="item-description">
          <h4>Paulo Galdino</h4>
        </span>
        <span class="item-description">
          <h6> Developer Manager</h6>
        </span>
      </p>
    </div>

    <ul id="side_items">
      <div class="menu-descriptions">
        <h3 class="item-description">Sistemas</h3>
      </div>
      <li class="side-item" (click)="menuSelect(2)" [ngClass]="{'menu-active': this.menuService.menuSelected == 2, '':this.menuService.menuSelected!= 2}">
        <a>
          <img src="../../../assets/icons/laptop.svg" (click)="menuSelect(2)" [ngClass]="{'menu-active': this.menuService.menuSelected == 2, '':this.menuService.menuSelected!= 2}">
          <span class="item-description"> Sistemas </span>
        </a>

      </li>
      <li class="side-item" (click)="menuSelect(3)" [ngClass]="{'menu-active': this.menuService.menuSelected == 3, '':this.menuService.menuSelected!= 3}">
        <a>
          <img src="../../../assets/icons/category.svg" (click)="menuSelect(3)" [ngClass]="{'menu-active': this.menuService.menuSelected == 3, '':this.menuService.menuSelected!= 3}">
          <span class="item-description">Categoria</span>
        </a>
      </li>

      <div class="menu-descriptions">
        <h3 class="item-description">Entradas & Saídas</h3>
      </div>
      <li class="side-item" (click)="menuSelect(1)" [ngClass]="{'menu-active': this.menuService.menuSelected == 1, '':this.menuService.menuSelected!= 1}">
        <a>
          <img src="../../../assets/icons/dashboard.svg" (click)="menuSelect(1)" [ngClass]="{'menu-active': this.menuService.menuSelected == 1, '':this.menuService.menuSelected!= 1}">
          <span class="item-description">Dashboard</span>
        </a>
      </li>
      <li class="side-item" (click)="menuSelect(101)" [ngClass]="{'menu-active': this.menuService.menuSelected == 101, '':this.menuService.menuSelected!= 101}">
        <a>
          <img src="../../../assets/icons/investimento.svg" (click)="menuSelect(101)" [ngClass]="{'menu-active': this.menuService.menuSelected == 101, '':this.menuService.menuSelected!= 101}">
          <span class="item-description">Invetimentos</span>

        </a>
      </li>
      <li class="side-item" (click)="menuSelect(4)" [ngClass]="{'menu-active': this.menuService.menuSelected == 4, '':this.menuService.menuSelected!= 4}">
        <a>
          <img src="../../../assets/icons/despesa.svg" (click)="menuSelect(4)" [ngClass]="{'menu-active': this.menuService.menuSelected == 4, '':this.menuService.menuSelected!= 4}">
          <span class="item-description">Despesas</span>
        </a>
      </li>

      <div class="menu-descriptions">
        <h3 class="item-description">definições do usuário</h3>
      </div>
      <li class="side-item" (click)="menuSelect(1001)" [ngClass]="{'menu-active': this.menuService.menuSelected == 1001, '':this.menuService.menuSelected!= 1001}">
        <a href="#">
          <img src="../../../assets/icons/user-manager.svg" (click)="menuSelect(1001)" [ngClass]="{'menu-active': this.menuService.menuSelected == 1001, '':this.menuService.menuSelected!= 1001}">
          <span class="item-description">Usuários</span>
        </a>
      </li>

    </ul>

    <button id="open_btn" (click)="toggleSidebarOpen()">
      <img src="../../../assets/icons/arrow-left.svg">

    </button>
  </div>

  <div id="logout">
    <button id="logout_btn">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span class="item-description">
        Logout
      </span>
    </button>
  </div>
</nav>
