<nav id="sidebar" [ngClass]="{'open-sidebar': isSidebarOpen}">
  <div id="sidebar_content">
      <div id="user">
          <img src="../../../assets/photos/profile.jpg" id="user_avatar" alt="Avatar">

          <p id="user_infos">
              <span class="item-description">
                  Paulo Galdino
              </span>
              <span class="item-description">
                  Developer Manager
              </span>
          </p>
      </div>

      <ul id="side_items">
          <li class="side-item active">
              <a href="#">
                  <img src="../../../assets/icons/user-manager.svg">
                  <span class="item-description">
                      Dashboard
                  </span>
              </a>
          </li>

          <li class="side-item">
              <a href="#">
                <img src="../../../assets/icons/user-manager.svg">
                  <span class="item-description">
                      Usuários
                  </span>
              </a>
          </li>

          <li class="side-item">
              <a href="#">
                <img src="../../../assets/icons/user-manager.svg">

                  <span class="item-description">
                      Notificações
                  </span>
              </a>
          </li>

          <li class="side-item">
              <a href="#">
                <img src="../../../assets/icons/user-manager.svg">

                  <span class="item-description">
                      Produtos
                  </span>
              </a>
          </li>

          <li class="side-item">
              <a href="#">
                <img src="../../../assets/icons/user-manager.svg">

                  <span class="item-description">
                      Imagens
                  </span>
              </a>
          </li>

          <li class="side-item">
              <a href="#">
                <img src="../../../assets/icons/user-manager.svg">

                  <span class="item-description">
                      Configurações
                  </span>
              </a>
          </li>
      </ul>

      <button id="open_btn" (click)="toggleSidebarOpen()">
        <img src="../../../assets/icons/arrow-left.svg">

      </button>
  </div>

  <div id="logout">
      <button id="logout_btn">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="item-description">
              Logout
          </span>
      </button>
  </div>
</nav>
