<nav id="sidebar" [ngClass]="{'open-sidebar': isSidebarOpen}">
  <div id="sidebar_content">
    <!-- Aqui fica os dados do usuário -->
    <div id="user">
      <img id="user_avatar" src="../../../assets/photos/profile.png" alt="Avatar">

      <p id="user_info">
        <span class="item-description">
          <!-- no futuro pegar do ban de dados -->
          <h2>Seu Nome</h2>
        </span>
        <span class="item-description">
          <!-- no futuro pegar do ban de dados -->
          <h4> Tipo de usua´rio do sistema</h4>
        </span>
      </p>
    </div>

    <ul id="side_items">
      <div class="menu-descriptions">
        <h3 class="item-description">Sistemas</h3>
      </div>

      <li class="side-item" (click)="menuSelect(2)" [ngClass]="{'menu-active': this.menuService.menuSelected == 2, '':this.menuService.menuSelected != 2}">
        <a>
          <i class="svg-laptop-ico ico" (click)="menuSelect(2)" [ngClass]="{'menu-active': this.menuService.menuSelected == 2, '':this.menuService.menuSelected != 2}"></i> <span class="item-description">Sistema Despesas</span>
        </a>
      </li>

      <li class="side-item" (click)="menuSelect(2.1)" [ngClass]="{'menu-active': this.menuService.menuSelected == 2.1, '':this.menuService.menuSelected != 2.1}">
        <a>
          <i class="svg-laptop-ico ico" (click)="menuSelect(2.1)" [ngClass]="{'menu-active': this.menuService.menuSelected == 2.1, '':this.menuService.menuSelected != 2.1}"></i> <span class="item-description">Sistema Investimentos</span>
        </a>
      </li>

      <li class="side-item" (click)="menuSelect(3)" [ngClass]="{'menu-active': this.menuService.menuSelected == 3, '':this.menuService.menuSelected!= 3}">
        <a>
          <i class="svg-category-ico" (click)="menuSelect(3)" [ngClass]="{'menu-active': this.menuService.menuSelected == 3, '':this.menuService.menuSelected!= 3}"></i><span class="item-description">Categoria</span>
        </a>
      </li>

      <div class="menu-descriptions">
        <h3 class="item-description">entradas & saídas</h3>
      </div>
      <li class="side-item" (click)="menuSelect(1)" [ngClass]="{'menu-active': this.menuService.menuSelected == 1, '':this.menuService.menuSelected!= 1}">
        <a><i class="svg-dashboard-ico" (click)="menuSelect(1)" [ngClass]="{'menu-active': this.menuService.menuSelected == 1, '':this.menuService.menuSelected!= 1}"></i><span class="item-description">Dashboard</span>
        </a>
      </li>

      <li class="side-item" (click)="menuSelect(5)" [ngClass]="{'menu-active': this.menuService.menuSelected == 5, '':this.menuService.menuSelected!= 5}">
        <a><i class="svg-income-ico" (click)="menuSelect(5)" [ngClass]="{'menu-active': this.menuService.menuSelected == 5, '':this.menuService.menuSelected != 5}"></i><span class="item-description">Invetimentos</span>
        </a>
      </li>
      <li class="side-item" (click)="menuSelect(4)" [ngClass]="{'menu-active': this.menuService.menuSelected == 4, '':this.menuService.menuSelected!= 4}">
        <a><i class="svg-expense-ico" (click)="menuSelect(4)" [ngClass]="{'menu-active': this.menuService.menuSelected == 4, '':this.menuService.menuSelected!= 4}"></i><span class="item-description">Despesas</span>
        </a>
      </li>
      <div class="menu-descriptions">
        <h3 class="item-description">definições do usuário</h3>
      </div>
      <li class="side-item" (click)="menuSelect(1001)" [ngClass]="{'menu-active': this.menuService.menuSelected == 1001, '':this.menuService.menuSelected!= 1001}">
        <a href="#">
          <i class="svg-user-ico" (click)="menuSelect(1001)" [ngClass]="{'menu-active': this.menuService.menuSelected == 1001, '':this.menuService.menuSelected!= 1001}"></i>
          <span class="item-description">Usuários</span>
        </a>
      </li>

    </ul>

    <button class="svg-arrow-ico" id="open_btn" (click)="toggleSidebarOpen()"> </button>
  </div>

  <div id="logout">
    <button id="logout_btn">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span class="item-description">
        Logout
      </span>
    </button>
  </div>
</nav>
