// ====imports
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

// ====resets
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

// ====temas
// background claro
:root {
  // backgroung
  --body-principal-color-bg: #fafafa;
  --body-secundary-color-bg: #fff;
  --body-selected-color-bg: #f3f3f4;
  --body-active-color-bg: #fefefe;
  --body-theme-color-bg: #2861f4;

  // components
  --border-principal-color: #e2e2e2;
  --border-buttom-color: #3da58a;

  // font
  --title-principal-color-font: #393939;
  --title-secundary-color-font: #262626;
  --subtitle-principal-color-font: #979797;
  --subtitle-secundary-color-font: #b3b3b3;
  --subtitle-special-color-font: #6b6b6b;
  --paragraph-color-font: #979797;
  --link-buttom-color-font: #49494b;
  --active-color-font: #2b2b2b;
  --error-color-font: #f00;
  --agnst-colot-font: #000;

  //  Icons
  // sidebar
  .svg-ico-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    height: 13rem;
    width: 13rem;
    background-image: url("./assets/icons/light/icon-pc.svg");
    background-size: contain;
  }
  .svg-laptop-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/light/laptop.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-category-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/light/category.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-dashboard-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/light/dashboard.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-income-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/light/income.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-expense-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/light/expense.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-user-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/light/user.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-arrow-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/light/arrow-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  //navbar
  // navbar
  .svg-search-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/light/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-notifications-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/light/notifications.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-settings-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/dark/settings.dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-user-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/dark/user.dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-logout-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/dark/logout.dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// background escuro
:root .darkMode {
  // backgroung
  --body-principal-color-bg: #1f1f21;
  --body-secundary-color-bg: #28282a;
  --body-selected-color-bg: #363638;
  --body-active-color-bg: #363836;
  --body-theme-color-bg: #2861f4;
  //#e3e9f7

  // components
  --border-principal-color: #303032;
  --border-buttom-color: #3da58a;

  // font
  --title-principal-color-font: #f2f2f2;
  --title-secundary-color-font: #dedede;
  --subtitle-principal-color-font: #8b8b8d;
  --subtitle-secundary-color-font: #979797;
  --subtitle-special-color-font: #6b6b6b;
  --paragraph-color-font: #979797;
  --link-buttom-color-font: #a4a4a5;
  --active-color-font: #c9c9ca;
  --error-color-font: #f00;
  --agnst-colot-font: #fff;

  //Icons
  //sidebar
  .svg-ico-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    height: 13rem;
    width: 13rem;
    background-image: url("./assets/icons/dark/icon-pc-black.svg");
    background-size: contain;
  }
  .svg-laptop-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/dark/laptop.darkMode.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-category-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/dark/category.dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-dashboard-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/dark/dashboard.dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-income-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/dark/income.dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-expense-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/dark/expense.dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-user-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/dark/user.dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-arrow-ico {
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("./assets/icons/dark/arrow-left\ dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  // navbar
  .svg-search-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/dark/search.dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-notifications-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/light/notifications.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-settings-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/light/settings.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-user-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/light/user.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .svg-logout-ico {
    min-width: 1rem;
    min-height: 1rem;
    background-image: url("./assets/icons/light/logout.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// configurações globais do site
html,
body,
#root,
.app,
.content,
h1,
h2,
h3,
h4,
p,
span {
  padding: 0;
  margin: 0;

  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;

  line-height: 1.3;

  color: var(--title-principal-color-font);
}

body {
  background-color: var(--body-principal-color-bg);
  height: 100vh;
}

//configurações gerais par o container e sidebar
#container {
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--body-secundary-color-bg);

  // configurações para o sidebar
  sidebar {
    display: block;
    width: -11.5rem; //240px
    height: 100vh;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
  }
  navbar {
    display: flex;
    width: 100%;
    margin-left: 16rem;
    background: red;
  }

  #content {
    flex-grow: 1;

    transition: margin-left 0.3s ease-in-out;
    position: relative;
  }

  &.sidebarActive {
    sidebar {
      transform: translateX(0);
    }
    #container {
      margin-left: 0;
    }
  }
}

// .app {
//   display: flex;
//   width: 99vw;
//   margin-right: 0;
//   margin-left: 0;
//   // background-color: orange;
// }

// // content
// .content {
//   width: 70vw;

//   background: var(--bg-body-color);
//   // background: red;
//   min-height: 20rem;
//   height: auto;
//   margin: 1rem 2rem 2rem 18rem;
//   transition: margin-left 0.3s ease-in-out;
// }
// .row {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-bottom: 1rem;
// }
// .row-select-patter  {
//   margin: .5rem 0 1rem 0;
//   width: 30rem;
//   padding: 1rem;
//   box-sizing: border-box;
//   border-radius: 0.3rem; //4px
//   border-bottom: 0.13rem solid var(--bg-border-buttom-color);
//   background: var(--bg-body-secundary-color);

//   color: var(--text-color-principal);
//   font-size: 0.9rem; //14px
// }
// .row-select-patter {
//   display: grid;
// }
// .title {
//   font-family: "Ubuntu";
//   font-weight: 700;

//   text-transform: uppercase;

//   line-height: 2.25;
// }
// .title-content {
//   margin: 0 0 2rem 18rem;
//   color: var(--text-color-principal);
//   font-weight: bold;
// }
// .title-content h2 {
//   text-transform: uppercase;
//   font-size: 32px;
// }
// .title-content h5 {
//   color: var(--text-color-principal);
//   font-weight: 100;
// }
// .title-content .title,
// .title-content h1 {
//   background: var(--bg-color-secundary);
// }

// .subtitle {
//   font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
//   font-size: 2rem;
//   font-weight: 400;
//   line-height: 1.5;
// }

// // CONFIGURAÇÕES GERAIS INPUT
// // inputs
// input {
//   display: flex;
//   box-sizing: border-box;
//   padding: 1rem;
//   width: 30rem;

//   border-radius: 0.3rem; //4px
//   border-bottom: 0.13rem solid var(--bg-border-buttom-color);
//   background: var(--bg-body-secundary-color);
//   color: var(--text-color-principal);
//   font-size: 0.9rem; //14px
// }

// .input-error {
//   display: block;
//   color: var(--text-color-error);
// }
// .no-outline:focus {
//   outline: none;
// }
// // Modificar a cor de sugestão do browser
// /* Para o Chrome */
// input:-webkit-autofill {
//   -webkit-text-fill-color: var(--text-color-especial);
// }

// /* Para o Internet Explorer */
// input:-ms-input-placeholder {
//   color: var(--text-color-especial);
// }
// .ng-select.ng-select-opened.ng-select-bottom > .ng-select-container {
//   background: var(--bg-body-secundary-color);
//   color: var(--text-color-principal);
//   border-radius: 0.3rem; //4px
//   border-bottom: 0.13rem solid var(--bg-border-buttom-color);
// }

// .ng-select span {
//   background-color: inherit;
// }

// // Configurações  gerais de botões
// .btn {
//   font-family: "Ubuntu", sans-serif;
//   font-weight: 900;
//   padding: 0.75rem 1.5rem;
//   border: none;
//   border-radius: 0.25rem;
//   text-transform: uppercase;
// }

// .disabled {
//   opacity: 0.6;
// }

// #container {
//   display: flex;
//   width: 100%;
//   height: 100vh;
//   background-color: #040509;

//   // configurações para o sidebar
//   app-sidebar {
//     display: block;
//     width: -11.5rem; //240px
//     height: 100vh;

//     transform: translateX(0);
//     transition: transform 0.3s ease-in-out;
//   }

//   #content {
//     flex-grow: 1;
//     background: red;
//     transition: margin-left 0.3s ease-in-out;
//     z-index: 1;
//     position: relative;
//   }

//   &.sidebarActive {
//     #container {
//       margin-left: -0rem;
//     }
//     app-sidebar {
//       transform: translateX(0);
//     }
//   }
// }
