// Configurações de reset
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

// Cofigurações default para todaa as teles
html,
body,
#root,
.app,
.content,
h1,
h2,
h3,
h4,
p,
span {
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;

  line-height: 1.3;
  color: var(--text-color-principal);
}
html,
body,
#root,
.app,
.content {
  height: 200vh;
  width: 100vw;
  margin: 0;
}
button{
  cursor: pointer;
}

//DEFINIÇÃO DAS CORES PARA O PORTAL
// ligthMode
:root {
  //=== cores para backgroud
  --bg-body-color: #fff; // utilizado para plano de tele de fundo
  --bg-body-secundary-color: #ecedf0; //utilizado para outros planas de fundo
  --bg-accent-color: #e8f0fe;
  // para contraste com o pllano principal
  --bg-active-color: #4f46e5; //uitlilazdo para definir cores de objetos selecionados, ativou etc.
  --bg-active-color-hover: #e3e9f7;
  //cores para componentes
  --bg-border-color: #f3f3f4;
  --bg-border-buttom-color: #3da58a;
  --bg-other: #4d65ec;

  //===cores para textos
  --text-color-principal: #1a1d1f; //utilizado em títulos ou testos principais
  --text-color-secundary: #cbccba; //utilidados em subtítilos para contraste com a cor principal
  --text-accent-color: #1b1e20; //cor de destaque para chamar a atenção a algo importante
  --text-color-text: #343d41; //utilazado em textos comuns
  --text-color-especial: #0a0a0a; //utilizado para destacar algo
  --text-color-against: #fff;
  --text-color-active: #e3e9f7; //#e3e9f7
  --text-color-error: #f00; // utlizado para chamar a atenção em algum erro

  //====Transitions

  .svg-ico-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    height: 13rem;
    width: 13rem;
    background-image: url("./assets/icons/icon-pc.svg");
    background-size: contain;
  }

}
// darkMode
:root .darkMode {
  //=== cores para backgroud
  --bg-body-color: #040509; // utilizado para plano de tele de fundo
  --bg-body-secundary-color: #080b12; //utilizado para outros planas de fundo
  --bg-accent-color: #121212; // para contraste com o pllano principal
  --bg-active-color: #4f46e5; //uitlilazdo para definir cores de objetos selecionados, ativou etc.
  //cores para componentes
  --bg-border-color: #f3f3f4;
  --bg-border-buttom-color: #3da58a;
  --bg-other: #4d65ec;

  //===cores para textos
  --text-color-principal: #e6e6e6; //utilizado em títulos ou testos principais
  --text-color-secundary: #d7d7d7; //utilidados em subtítilos para contraste com a cor principal
  --text-accent-color: #e5e5e5; //cor de destaque para chamar a atenção a algo importante

  --text-color-text: #e5e5e5; //utilazado em textos comuns
  --text-color-especial: #6b6b6b; //utilizado para destacar algo
  --text-color-against: #fff;
  --text-color-error: #f00; // utlizado para chamar a atenção em algum erro

  //====Transitions

  .svg-ico-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    height: 13rem;
    width: 13rem;
    background-image: url("./assets/icons/icon-pc-black.svg");
    background-size: contain;
  }

}
//Definição para o tamanho default das images
img {
  width: 100%;
}
.svg-theme {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-repeat: no-repeat;
}
// DEFINIÇÃO ESTILOS PARA A TIPOGRAFIA
// Typography
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
p {
  font-size: 0.75rem;
}

.title {
  font-family: "Ubuntu";
  font-weight: 700;

  text-transform: uppercase;

  line-height: 2.25;
}
.subtitle {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
//====CONTIGURAÇÇÕES PARA O CONTEÚDO
//container
.container {
  width: 100%;
  height: 400px;
  background: var(--bg-body-color);
}
// content
.content {
  flex-grow: 1;
  background: red;
  background: var(--bg-body-color);

  transition: margin-left 0.3s ease-in-out;
  z-index: 1;
}

.title-content {
  margin: 0 0 2rem 18rem;
  color: var(--text-color-principal);
  font-weight: bold;
}
.title-content h2 {
  text-transform: uppercase;
  font-size: 32px;
}
.title-content h5 {
  color: var(--text-color-principal);
  font-weight: 100;
}

.title-content .title,
.title-content h1 {
  background: var(--bg-color-secundary);
}

// CONFIGURAÇÕES GERAIS INPUT
// inputs
input {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;

  border-radius: 0.3rem; //4px
  border-bottom: 0.13rem solid var(--bg-border-buttom-color);
  background: var(--bg-body-secundary-color);
  color: var(--text-color-principal);
  font-size: 0.9rem; //14px
}

.input-error {
  display: block;
  color: var(--text-color-error);
}
.no-outline:focus {
  outline: none;
}
// Modificar a cor de sugestão do browser
/* Para o Chrome */
input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color-principal);
}

/* Para o Internet Explorer */
input:-ms-input-placeholder {
  color: var(--text-color-principal);
}

// Configurações  gerais de botões
.btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.disabled {
  opacity: 0.6;
}

//configurações gerais par o container
.app {
  display: flex;
  width: 100%;
  margin-right: 0;
  margin-left: 00px;
}

// #container {
//   display: flex;
//   width: 100%;
//   height: 100vh;
//   background-color: #040509;

//   // configurações para o sidebar
//   app-sidebar {
//     display: block;
//     width: -11.5rem; //240px
//     height: 100vh;

//     transform: translateX(0);
//     transition: transform 0.3s ease-in-out;
//   }

//   #content {
//     flex-grow: 1;
//     background: red;
//     transition: margin-left 0.3s ease-in-out;
//     z-index: 1;
//     position: relative;
//   }

//   &.sidebarActive {
//     #container {
//       margin-left: -0rem;
//     }
//     app-sidebar {
//       transform: translateX(0);
//     }
//   }
// }
