* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html,
body,
#root,
.app,
.content,
h1,
h2,
h3,
h4,
p,
span {
  padding: 0;
  margin: 0;

  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;

  line-height: 1.3;
  color: var(--text-color-principal);
}
html,
body,
#root,
.app,
.content {
  display: flex;
  height: 200vh;
  width: 100%;
  margin: 0;
}

//DEFINIÇÃO DAS CORES PARA O PORTAL
// ligthMode
:root {
  //=== cores para backgroud
  --body-color: #fff;
  --sidebar-color: #ecedf0;
  --primary-color: #fff;
  --secundary-color-: #ecedf0;
  --active-color: #4f46e5;

  //cores para textos
  --text-color-principal: #1a1d1f;
  --text-color-title: #1b1e20;
  --text-color-especial: #6b6b6b;
  --text-color-subtitle: #cbccba;
  --text-color-text: #343d41;
  --text-color-error: #f00;

  //cores para componentes
  --border-color: #f3f3f4;
  --border-buttom-color: #3da58a;

  //====Transitions

  .svg-ico-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    height: 13rem;
    width: 13rem;
    background-image: url("./assets/icons/icon-pc.svg");
    background-size: contain;
  }
  .svg-theme {
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    background-image: url("./assets/icons/theme-moon.svg");
    background-size: contain;
    cursor: pointer;
  }
}
// darkMode
:root .darkMode {
  --bg-color-principal: #040509;
  --bg-color-secundary: #141b2d;

  --text-color-principal: #d0d1d5;
  --text-color-title: #6870fa;

  --text-color-text: #dbf5ee;

  --border-buttom-color: #3da58a;

  --background-input-color: #141414;

  .svg-ico-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    height: 13rem;
    width: 13rem;
    background-image: url("./assets/icons/icon-pc-black.svg");
    background-size: contain;
  }
  .svg-theme {
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    background-image: url("./assets/icons/theme-sun.svg");
    background-size: contain;
    cursor: pointer;
  }
}

img {
  width: 100%;
}
// DEFINIÇÃO ESTILOS PARA A TIPOGRAFIA
// Typography
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
p {
  font-size: 0.75rem;
}

.title {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: 700;

  text-transform: uppercase;

  line-height: 2.25;
}
.subtitle {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.title-content .title,
.title-content h1 {
  background: var(--bg-color-secundary);
}

// CONFIGURAÇÕES GERAIS INPUT
// inputs
input {
  box-sizing: border-box;
  width: 100%;

  border-radius: 4px;
  border-bottom: 2px solid var(--border-buttom-color);
  background: var(--background-input-color);
  color: var(--text-color-principal);
  font-size: 15px;
}

.input-error {
  display: block;
  color: var(--text-color-error);
}
.no-outline:focus {
  outline: none;
}
// Modificar a cor de sugestão do browser
/* Para o Chrome */
input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color-principal);
}

/* Para o Internet Explorer */
input:-ms-input-placeholder {
  color: var(--text-color-principal);
}

// Configurações  gerais de botões
.btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.disabled {
  opacity: 0.6;
}

//configurações gerais par o container e sidebar
// .container,
// #container {
//   display: flex;
//   flex-grow: 1;
//   height: 100vh;
//   background-color: red;
//   z-index: 1;
// }

// #container {
//   display: flex;
//   width: 100%;
//   height: 100vh;
//   background-color: #040509;

//   // configurações para o sidebar
//   app-sidebar {
//     display: block;
//     width: -11.5rem; //240px
//     height: 100vh;

//     transform: translateX(0);
//     transition: transform 0.3s ease-in-out;
//   }

//   #content {
//     flex-grow: 1;
//     background: red;
//     transition: margin-left 0.3s ease-in-out;
//     z-index: 1;
//     position: relative;
//   }

//   &.sidebarActive {
//     #container {
//       margin-left: -0rem;
//     }
//     app-sidebar {
//       transform: translateX(0);
//     }
//   }
// }
